@import '../3rd-party/bootstrap-3.3.7/css/bootstrap.min.css';
@import 'fontello.css';
@import 'heart.scss';
@import 'article.scss';
@import 'photo.scss';
@import 'comment.scss';
@import 'tag.scss';

body {
    font-size: 62.5%;
}

a, a:active, a:visited, a:link {
    text-decoration: none;
}

#header-h1 {
    text-align: center;
}

.i-loc {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#detail-frame {
    border: 10px solid #CCC;

    #detail-form {
        margin-top: 10px;
    }
}

#view {
    text-align: center;

    img {
        width: 100%;
    }
}

.text-gray {
    color: gray;
}

.pointer {
    cursor: pointer;
}