#tag-view {
    clear: both;
    position: relative;
    overflow: hidden;
}

.tag {
    display: inline-block;
    color: white;
    font-size: 1.6rem;
    background-color: gray;
    border-radius: 15px;
    border: 2px solid #ddd;
    margin: 5px;
    padding: 10px;

    a, a:active, a:visited, a:link {
        color: white;
        text-decoration: none;
    }
}