@import 'fontello.css';
@import '../3rd-party/bootstrap-3.3.7/css/bootstrap.min.css';

body {
    font-size: 62.5%;
}
strong {
    font-weight: bolder;
}

#headerH1 {
    position: relative;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
#headerH1 a {
    text-decoration: blink;
}

.item {
    float: left;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
    width: 30vw;
    height: 40vw;
    min-width: 180px;
    min-height: 240px;
    max-width: 360px;
    max-height: 480px;
    margin: 5px;
    border: 10px solid #CCC;
}

.item_detail {
    float: left;
    width: 98%;
    height: 100%;
    /*
    max-width: 540px;
    max-height: 720px;
    */
}

.container_pos {
    width: 100%;
    height: 100%;
}

.img_section {
    position: relative;
    width: 100%;
    height: 93%;
    overflow: hidden;
}

.text_section {
    position: relative;
    width: 100%;
    height: 7%;
    font-size: 1.6rem;
    color: gray;
    text-align: center;
}

.img_sty {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.i-loc {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.heart-color {
    color: crimson;
}

.heart-color-empty {
    color: gray;
}

#mainList {
    position: relative;
    width: 100%;
    height: 100%;
}

#mainDetail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

#detailFrame {
    width: 70vw;
    height: 50vw;
    min-width: 400px;
    min-height: 300px;
    max-width: 960px;
    max-height: 720px;
    border: 10px solid #CCC;
}

#detailPhoto {
    float: left;
    width: 65%;
    height: 100%;
}

#detailForm {
    float: left;
    width: 35%;
    height: 100%;
}

#comments {
    position: relative;
    font-size: 2vw;
    width: 100%;
    height: 70%;
    color: gray;
    padding: 10px 0;
    overflow-y: auto;
}

#comments h3 {
    text-align: right;
}

#comments p {
    line-height: 2.4rem;
    word-wrap: break-word;
    border-bottom: dashed;
}

#add_comment {
    position: relative;
    width: 100%;
    height: 30%;
    padding: 10px 0;
}

#icon_head {
    float: left;
    display: inline-block;
    position: relative;
    width: 25%;
    height: 100%;
    overflow: auto;
}

#fill_fields {
    float: left;
    display: inline-block;
    position: relative;
    width: 75%;
    height: 100%;
    overflow: auto;
}

#fill_fields p:nth-child(3) {
    text-align: right;
}

#i-head {
    color: gray;
}

#i-ok {
    color: gray;
}

#i-comment {
    color: gray;
}

#edit_article {
    width: 99%;
    font-size: 1.6rem;
    color: gray;
    outline: none;
    border: none;
    border-bottom-style: groove;
}
